.pie
	margin-top 30px
	.contenedorPie
		background-color verde_claro
		display flex
		flex-flow row wrap
		height 50px
		justify-content space-between
		align-items flex-end
		.logoPie
			align-items flex-end
			&:first-child
				padding-left 10%
			a
				color blanco
				font-size 11px
				text-decoration none
				@media screen and (min-width: 768px)
					font-size 25px
				@media screen and (min-width: 992px)
					font-size 25px
			span
				font-size 11px
				color blanco
				@media screen and (min-width: 768px)
					font-size 25px
				@media screen and (min-width: 992px)
					font-size 25px
			img
				width 150px
				@media screen and (min-width: 768px)
					width 350px	
				@media screen and (min-width: 992px)
					width 100%	
				 
			