section.pie
	.contenedorPie
		.logoPie
			a(href="http://www.menorca.com.pe", target="_blanck")
				| www.menorca.com.pe
			span
				|  | (056) 638 474  
		.logoPie
			a(href="http://www.menorcainversiones.com.pe", target="_blanck")
				img(src="./public/image/logomenorca.png", alt="" , class="img-responsive")
