section.procesoContenedor(ng-controller="procesoCrl")
	hgroup.proceso.hgroup
		h1 PROCESO PARA PARTICIPAR
	article.proceso
		.container
			.textoProceso
				.contenidoTexto
					span
						| 1
				.contenidoTexto
					h2
						| Completa la información:
					p
						| Para participar sólo tendrás que colocar los nombres y datos de tus amigos y/o familiares interesados en el proyecto Posada del Sol o La Estancia de Santa María utilizando la ficha enviada a tu domicilio o registrando los datos utilizando el siguiente link:
			.textoProceso
				.contenidoTexto
					span
						| 2
				.contenidoTexto
					h2
						| Entrega las fichas eligiendo una de las dos modalidades:
					ul
						li
							h2
								| Opción 1
							p
								| Fichas impresas: Llena las fichas con los datos de tus referidos y entrégaselas para que las pueda presentar al vendedor al momento de la compra, y de esta manera  hacer efectiva la entrega de premios.
						li
							h2
								| Opción 2
							p
								| Registro de referidos por link: Completa la información y dale click al botón “Enviar”. 
							p
								| Un representante de Menorca Inversiones se pondrá en contancto con usted para guiarlo en el proceso de registro.
							.contenedorBoton
								button(ng-click="irSeccion()")
									| Ingresa aquí 
section.premioContenedor
	article.proceso
		.container
			.textoProceso
				.contenidoTexto
					h2
						| Entrega de premios:
					p
						| Los premios, tanto para el referente como el referido podrán ser recogidos 30 días después de haberse firmado los contratos.
