<table width="700" height="506" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff8df">
  <tr>
    <td width="394" valign="top"><img style="display:block;" src="http://www.programabravo.com/site/images/email01.png" width="394" height="506" /></td>
    <td valign="top"><table width="306" height="490" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="362" valign="middle"><table width="306" border="0" cellspacing="0" cellpadding="0">
          <tr>
              <td style="font-size: 12px; color: #061f5c; font-family: arial, helvetica, sans-serif;">
                  <h2>@@ASUNTO@@</h2>
                  <p>@@MENSAJE@@</p>
                  <p>
                    Para ingresar a la web haz clic en el siguiente enlace:
                    <a href="@@URL_LINK@@">www.programabravo.com</a>
                  </p>
              </td>
            <td width="30">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="144" valign="bottom"><img style="display:block;" src="http://www.programabravo.com/site/images/email02.png" width="306" height="144" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
