body
{
    background-size:100%;
    padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px;
    font-family: tahoma,verdana,arial,sans-serif; font-size: 11px; color: #333333; 
}
form {
    margin: 0px
}
a {
    color: #666666; text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #2A4F96;
}
#principal{
    width: 1080px;
    margin: auto; /*centrado*/ 
}
#principal td, #divViewForm  td{
    font-size: 11px; font-family: tahoma,verdana,arial,sans-serif;
}
input[type=text], input[type=password], select, textarea {
    font-size: 10px; font-family: arial,verdana,sans-serif;
}
.titulo {
    font-weight: bold; font-size: 18px; margin-bottom: 15px; color: #2A4F96;
    padding-bottom: 5px;
    border-bottom: dashed 1px #848484;
}
.subtitulo {
    font-weight: bold; font-size: 14px; margin-bottom: 10px; color: #2A4F96
}
.paginado {
    font-weight: bold; color: #2A4F96
}
.paginado a {
    color: #2A4F96
}

#principal .txtSmall {
    font-SIZE: 9px;
}
#principal .tblList
{
    border-top: solid 1px #0076B2;
    margin-bottom: 10px;
}
#principal .tblList td:first-child
{
    border-left: solid 1px #d3d3d3;
}
#principal th {
    border-right: solid 1px #0076B2; 
    font-weight: bold; font-size: 11px; text-align: center; 
    background-color: #2A4F96; color: #ffffff;
}
#principal .tblList th {
    background-color: #2A4F96;
    border-right: #0076B2 1px solid;
    border-bottom: #0076B2 1px solid;
    font-weight: bold; font-SIZE: 11px; text-align: center;
    color: #ffffff;
}
#principal .tblList th a {
    display:block;
    padding: 6px 13px 6px 6px;
    text-decoration:none; color:#ffffff
}
#principal .tblList td a {
    text-decoration:underline;
}
#principal .tblList td {
    border-right: #d3d3d3 1px solid; border-bottom: #d3d3d3 1px solid; 
    padding: 1px 4px 1px 5px;
    background-color: #edefee;
}
#principal .tblList table tr td {
    padding: 5px 5px 2px 0px;
    border-width: 0px;
}
#principal .tblForm {
    border: solid 1px #d3d3d3;
    background-color: #edefee;
    padding: 10px;
    border-radius: 6px; 
}
#principal .tblForm td {
    height: 25px;
}
.tblView tr {
	color:#333333; background-color:#F7F6F3;
}
.tblView .trAlt {
	color:#284775; background-color:#ffffff;
}
.tblView .tdTitle {
	background-color:#E9ECF1; font-weight:bold;
}
#principal .tblList .HeadDESC
{
    background: #2A4F96 url(../images/i_down.gif) no-repeat right;
}
#principal .tblList .HeadASC
{
    background: #2A4F96 url(../images/i_up.gif) no-repeat right;
}

#header {
    background-color: #2A4F96;
    border-bottom: solid 3px #f6a800;
    height: 50px;
    width: 100%;
}
#header .panel{
    width: 1080px;
    color:#ffffff;
    height:100%;
    margin: auto; /*centrado*/ 
}
#header .info{
    border: 1px solid #7E7896;
    background: #2A4F96;
    margin: 5px;
    height:38px;
    float:right;
    border-radius: 5px;
}
#header .info p{
    vertical-align: middle;
    text-align: right;
    color: #eee;
}
#header .info span{
    padding-left:5px;
    padding-right:5px;
}
#header .info a{
    text-decoration: none;
    color: #eee;
}

#logo
{
    background-color: #2A4F96;
    margin: 1px 2px 1px 2px;
    float:left;
}
#logo img
{
	height: 45px;
}

#content
{
    width: 860px;
    min-height: 500px;
    float:left;
    border: solid #CACACA 1px;
    border-top: 0px;
    padding: 30px 10px 10px 35px;
}
#content fieldset
{
    margin: 5px 0px 10px 0px;
    padding: 5px;
    border: solid 1px #DBDBDB;
    text-align: right;
    border-radius: 4px; 
}
#content legend
{
    padding: 0.2em 0.5em;
    font-size:80%;
    color: #666666;
    text-align:left;
}
#pie 
{
	width:50%;
	display: block;
	height:35px;
	float:right;
	padding-top:10px;
	text-align:right;
}
#pie a {
	color: #666666
}
#menu {
	width: 500px;
	display: block;
	height:100%;
    padding-left:150px;
    padding-top:23px;
}
#menu a {
	font-size: 12px;
	color: #ffffff;
	background-color: #cccccc;
    border: solid 1px #CACACA;
    border-bottom: 0px;
	text-decoration: none;
}
#menu a:hover {
	background-color: #f6a800;
	color:#ffffff;
}
#menu .selected 
{
	color: #ffffff;
	cursor: default;
	background-color: #f6a800;
}
.droplinetabs{
	overflow: hidden;
}
.droplinetabs ul{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.droplinetabs li{
	display: inline;
	margin: 0;
	padding: 0;
}
.droplinetabs a{
	float: left;
	color: white;
	margin: 0 4px 0 0;
	text-decoration: none;
	letter-spacing: 1px;
	display: block;
	padding: 7px 9px 5px 6px;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
}

#submenu{
    float: left;
    padding: 20px 0px 10px 10px;
    margin-top: 0px;
    width: 160px; /*width of menu*/
}
#submenu div{
    padding-bottom: 5px; /*header text is indented 10px*/
}
#submenu .headerbar {
    text-transform:uppercase;
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: #2A4F96;
    cursor: default;
}
#submenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px; /*bottom spacing between each UL and rest of content*/
}
#submenu ul li{
    padding-bottom: 3px; /*bottom spacing between menu items*/
}
#submenu ul li a{
    display: block;
    padding: 3px 0;
    padding-left: 5px; /*link text is indented 19px*/
    text-decoration: none;
}
#submenu ul li .selected{
    font-weight: bold;
    background: #EFF2F7;
    color: #333;
}
#submenu ul li a:hover{
}

.cmsPath{
    margin: 5px 10px 10px 0px;
}
.cmsRight
{
    width: 230px;
    padding:10px;
	border:#CCCCCC solid 1px;
    background-color: #edefee;
    border-radius: 6px;
}

.imgCal {
	cursor: hand;
}
.admButton 
{
    border: 1px solid #0076B2;
    background: #2A4F96;
    font-size: 12px;
    padding: 2px 20px 2px 20px;
    color: #FFFFFF; 
    height: 30px;
    border-radius: 4px;
}
.text{
    height: 22px
}
#principal .tblParametro
{
	border: solid 1px #0076B2; background-color: #edefee;
    border-radius: 3px;
}
#principal .thParametro
{
	font-weight: bold; font-size: 11px; text-align: center; background-color: #9E9E9E; color: #edefee;
    border-radius: 3px; padding: 3px;
}
#tblPanel
{
	background-color: #2A4F96; color: #0076B2;
    border-radius: 7px  7px 0px 0px;
}
#tblPanel .divHeader
{
	color:#FFFFFF; background-color: #2A4F96; 
}
#tblPanel .tdPanel
{
	background-color: #ffffff; 
}
#tblPanel a, a:active
{
	color:#848484;
}
#tblPanel a:hover 
{
	color:#2A4F96;
}
.modalContent{
	overflow:auto;
}

.txtReadOnly
{
	 background-color:#dad9d7;
	 border-style:Solid;
	 border-width:1px;
	 border-color:Black;
}

#divError {
	color: #FF0000;
    width: 480px;
    padding:10px;
    margin-top:10px;
    background-color: #FFFAB5;
    border-radius: 7px;
}
#divError ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#divError li{
    background-image: url(../images/i_error.gif); background-position:left; background-repeat:no-repeat;
    padding: 4px 10px 3px 25px;
}
#divAlert
{
	color:#666666;
    width: 480px;
    padding:10px;
    margin-top:20px;
    background-color:#eeefff;
    border-radius: 7px;
}
#divAlert ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#divAlert li{
    background-image: url(../images/i_warn.gif); background-position:left; background-repeat:no-repeat;
    padding: 5px 10px 2px 25px;
}
.tagleyend
{
    height:20px; vertical-align:top;
}
.option-disabled
{
    color:#afafaf;
    text-decoration:line-through
}

.sortASC{
    background:url(../images/i_down.gif) right no-repeat;
}
.sortDESC{
    background:url(../images/i_up.gif) right no-repeat;
}

#divTemplateList{
    display:none; height:250px; width:320px;
}
#divTemplateList .subtitulo{
    margin-top:0px;
}
#divTemplateList .body{
    height:170px; width:320px; overflow:auto;
}
#divTemplateList .item
{
    float: left;
    width: 140px;
    vertical-align:middle;
    display: block;
}
#divTemplateList label
{
    font-size: 11px;
}
#divTemplateList .footer{
    margin-top:10px;
}
