header
	background linear-gradient(top, #f2f2f2, #dadada)	
	.container
		.inner-header
			align-items flex-start
			display flex
			flex-direction row
			flex-wrap no-wrap
			justify-content space-between
			padding 15px 0 8px
			.inner-user
				background blanco
				border-radius 60px				
				align-items flex-end
				display flex
				flex-direction row
				flex-wrap no-wrap
				justify-content flex-start
				padding 3px 6px
				height 93px
				width 284px
				.inner-data
					padding-left 10px
					padding-bottom 10px
					a
						background azul
						border-radius 10px
						color blanco
						display block						
						font-family "robotoregular"
						font-size 9px
						padding 6px 5px
						margin-top 5px
						transition 0.5s all ease
						width 110px
						&:hover
							background verde
						i
							border 1px solid rgba(255,255,255,0.7)
							border-radius 100%
							padding 3px
							margin-right 4px
							&.icon-cross
								font-size 8px
								color rgba(255,255,255,1)
					h2
						color #3478d5
						font-family "robotoregular"
						font-size 11px
						line-height 1.25em
						&.gris
							color #7e7e7e
						
				figure
					border rgba(130,130,130,0.35)
					border-radius 50%					
					overflow hidden
					height 85px
					width 85px
					img
						max-width 100%
					