nav(ng-controller="mainCrtl")
	.container
		.inner-main
			a(href="#/bienvenida")
				i.iconhome
				| Principal
			//a(href="#/empresas")
				i.iconempresa
				| Empresas
			a(href="#/pacientes/dependientes")
				i.icondependiente
				| Atender
				br
				| Pacientes
			//a(href="#/pacientes/independientes")
				i.iconmenuindependiente
				| Pacientes
				br
				| Independientes
			//a(href="#/atencion")
				i.iconmenuticket
				| Ticket de
				br
				| Atención
			//a(href="#/historial")
				i.iconmenuhistorial
				| Historia
				br
				| Médica
			//a(href="#/doctores")
				i.iconmenudoctores
				| Doctores
			//a(href="#/reportes")
				i.iconmenureportes
				| Reportes
				br
				| Estadísticos			