body
	font-family: 'Source Sans Pro', sans-serif;
	color #fff
header
	position absolute
	background #fff
	top 0px
	width 100%
	height 70px
	z-index 1
	@media(max-width 414px)
		text-align center
		height auto
	img
		padding 8px 0px
		max-width 100%
	.raya
		background #ffcc33
		height 15px
		border-bottom 4px solid #000
.alerta
	position absolute
	top 76px
	right 0px
	z-index 2
	max-width 290px
	background #34a433
	padding 8px 10px 9px
	div 
		position relative
		&:before
			content ""
			width 30px
			height 41px
			background url(../img/borde.png)center no-repeat
			position absolute
			left -29px
			top -8px
			@media(max-width 414px)
				display none
		img 
			position absolute
			left 0px
			top 0px
		p 
			font-size 11px
			font-weight 600
			padding-left 35px
			margin-bottom 0px
			line-height 12px
	@media(max-width 414px)
		max-width 100%
		position relative
		top 0px
#main
	background url(../img/fondo-landing.jpg)center no-repeat
	background-size cover
	.wh
		> div
			padding-top 80px
			height 100%
			padding-left 75px
			padding-right 75px
			display flex
			@media(max-width 1024px)
				padding-left 30px
				padding-right 30px
			@media(max-width 736px)
				padding-top 40px
				padding-bottom 40px
			@media(max-width 412px)
				padding-left 15px
				padding-right 15px
	#blanco
		background #ecebeb
	.box-formulario
		color #2a2a2c
		@media(max-width 736px)
			padding-right 0px
		h2
			font-family 'Source Sans Pro'
			font-weight 700
			font-style italic
			text-transform uppercase
			font-size 27px
			margin-bottom 13px
		.subt
			font-size 22px
			font-weight 600
			font-style italic
			font-family 'Source Sans Pro'
			line-height 32px
			span
				color #fac200
				font-weight 700
				font-style italic
				text-transform uppercase
				font-size 30px
			.cb
				color #fff
				text-transform lowercase
		p 
			font-size 16px
			font-style italic
			font-weight 200
			margin-top 10px
		div 
			p 
				font-size 16px
				line-height 16px
				font-style italic
				font-weight 600
				margin-bottom 8px
				margin-top 0px
				position relative
				padding-left 23px
				img 
					position absolute
					left 0px
					top -3px
		form
			.form-control-plaintext
				border-bottom 1px solid #2a2a2c
				padding-left 25px
				font-size 15px
				font-style italic
				font-weight 200
				color #2a2a2c
				@media(max-width 736px)
					margin-bottom 15px
				&:focus
					outline 0px
			.nombres, .telefono, .email, .empresa, .ciudad
				position relative
				&:before
					content ""
					width 20px
					height 20px
					display block
					position absolute
					top 9px
					background url(../img/nombre.png) no-repeat
			.telefono
				&:before
					background url(../img/telefono.png) no-repeat
			.email
				&:before
					background url(../img/email.png) no-repeat
			.empresa
				&:before
					background url(../img/empresa.png) no-repeat
			.ciudad
				&:before
					background url(../img/mapa.png) no-repeat
			.form-check
				font-size 13px
				font-weight 200
				text-align left
				margin-top 20px
				margin-bottom 20px
				label
					cursor pointer
			button
				background #ffcc33
				color #3d3e40
				font-size 20px
				font-weight 600
				border-radius 0px 
	.box-descripcion
		// padding-left 2.5em
		// @media(max-width 736px)
		// 	padding-left 0px
		h2
			font-family 'Source Sans Pro'
			font-weight 700
			font-style italic
			font-size 29px
		p 
			font-size 17px
			font-weight 600
			font-style italic
			line-height 20px
			margin-bottom 0px
		.min
			font-size 15px
			line-height 15px
			a 
				font-weight 400
				color #f0bc06
				text-decoration underline
		#carrusel .carousel-item
			opacity 0
			transition-duration 1s
			transition-property opacity
		#carrusel .carousel-item img
			opacity 0.2
			transition-duration 1s
			transition-property opacity
		#carrusel .carousel-item.active,
		#carrusel .carousel-item-next.carousel-item-left,
		#carrusel .carousel-item-prev.carousel-item-right,
		#carrusel .carousel-item.active img
			opacity 1
			transition 1s
		#carrusel #carrusel .active.carousel-item-left,
		#carrusel #carrusel .active.carousel-item-right
			opacity 0
			transition 1s
		#carrusel .carousel-item-next,
		#carrusel .carousel-item-prev,
		#carrusel .carousel-item.active,
		#carrusel .active.carousel-item-left,
		#carrusel .active.carousel-item-prev
			transform translateX(0)
			transform translate3d(0, 0, 0)
			transition 1s
		.content-img
			text-align center
			img
				max-width 380px
				width 100%
				margin 0px auto
#footer-top
	position absolute
	bottom 0px
	background #2a2a2c
	width 100%
	font-size 12px
	font-weight 400
	padding 10px 0px
	.text-r
		text-align right
	a 
		font-style italic
		color #fff
::-webkit-input-placeholder
	color #2a2a2c
::-moz-placeholder
	color #2a2a2c
:-ms-input-placeholder
	color #2a2a2c
:-moz-placeholder
	color #2a2a2c

// responsive
@media(max-width 768px)
	.form-group
		margin-bottom 0px
@media(max-width 736px)
	header
		position relative
	#main
		.wh
			flex-wrap wrap-reverse
	#footer-top
		position relative