nav
	background rgba(1,88,167,0.85)
	height 193px
	width 100%
	.inner-main
		align-items strech
		display flex
		flex-direction row
		flex-wrap no-wrap
		justify-content center
		padding-top 40px
		a
			color blanco
			font-family "roboto_condensedregular"
			font-size 13px
			margin-right 50px
			line-height 1.15em
			text-align center
			&:last-child
				margin-right 0px
				
			i
				background-image url(../image/loginicon.png)
				background-position -21px -351px
				background-repeat no-repeat				
				display block
				height 53px
				width 100% 
				&.iconempresa
					background-position -244px -345px
				&.icondependiente
					background-position -238px -252px
				&.iconmenuindependiente
					background-position -8px -252px
				&.iconmenuticket
					background-position -244px -111px
				&.iconmenuhistorial
					background-position -249px 3px
				&.iconmenudoctores
					background-position -26px -130px
				&.iconmenureportes
					background-position -21px -2px
				
					