section.detalleModal
	form
		.form-group
			label Nombre:
			input(type="text" ng-model="propietario.name", readonly)
		.form-group
			label Teléfono:
			input(type="text" ng-model="propietario.phone", readonly)
		.form-group
			label D.N.I.:
			input(type="text" ng-model="propietario.dni", readonly)