.propietario
	margin-top 50px
	.inner-propietario
		background color-blanco
		border-radius 30px
		padding 40px 20px 20px
		.center
			text-align center
		.table-responsive
			thead
				th
					padding-top 10px
					padding-bottom 15px
				p
					font-weight bold
					margin 0
			tbody
				a
					font-family family_robotlight
					font-size 14px
					margin 0
					text-decoration none