.mainMenuPropietario
	.container
		ul
			li
				.inner-nav
					a(href="javascript:void(0)", ng-click="propietariosExcel()")
						img(src="./public/images/exceldownload.png", alt="")
						| Exportar Propietarios
			li
				.inner-nav
					a(href="javascript:void(0)", ng-click="referidosExcel()")
						img(src="./public/images/exceldownload.png", alt="")
						| Exportar Referidos