.mainMenuPropietario
	margin-bottom 20px
	ul
		align-items flex-star
		display flex
		flex-direction row
		flex-wrap no-wrap
		justify-content flex-end
		margin 0
		padding 0
		list-style none
		li
			&:nth-child(n)
				margin-right 8px
			&:last-child
				margin-right 0
			a
				font-size 12px
				text-decoration none
				img
					margin-right 5px
					width 50px