.referidoModal
	height 400px
	overflow-y scroll
	h1
		color color-grisoscuro
		margin 0
	input[type="text"],textarea
		border-color color-gris3
		border-radius 0
		width 100%
		@media screen and (min-width : 768px)
			width 60%
			
	textarea
		padding-left 20px
	.block-list
		padding 0 0 8px