div(class="demo-modal outer-flex-container")
	div(class="inner-flex-container")
		div(class="ngdialog-close icon-cross", ng-click="closeModal()")
		include ../propietario/menu.jade
		div.currentTab(ng-include="currentTab")
