@font-face {
    font-family: 'Gotham-Medium';
    font-style: normal;
    font-weight: 400;
    src:url(../fonts/Gotham-Medium.ttf) format("truetype")
}
@font-face {
    font-family: 'Gotham-Thin';
    font-style: normal;
    font-weight: 400;
    src:url(../fonts/Gotham-Thin.ttf) format("truetype")
}
@font-face {
    font-family: 'Gotham-Thin';
    font-style: italic;
    font-weight: 400;
    src:url(../fonts/Gotham-ThinItalic.ttf) format("truetype")
}
@font-face {
    font-family: 'Gotham-bold';
    font-style: normal;
    font-weight: 700;
    src:url(../fonts/Gotham-Bold.ttf) format("truetype")
}
@font-face {
    font-family: 'gotham-book';
    font-style: normal;
    font-weight: 400;
    src:url(../fonts/gotham-book.ttf) format("truetype")
}