.logoContenedor
	align-items flex-end
	background-color verde_oscuro
	display flex
	flex-flow row no-wrap
	justify-content center
	.logoItem
		img
			position relative
			top 15px
			@media screen and (min-width:768px)
				top 25px