header
	.logoContenedor
		.logoItem
			img(src="./public/image/banner.png", alt="",class="img-responsive")
	.proyectosContenedor
		.proyecto
			img(src="./public/image/posada-sol.png", alt="",class="")
		.proyecto.separador
		.proyecto
			img(src="./public/image/estancia-sm.png", alt="",class="alinearEstancia")