footer
	.linksFooter
		.container
			.inner-menu
				.row
					a(href="index.html")
						img(src="./resources/assets/image/logo.png", alt="Antonia")
				.row
					nav
						ul
							li
								a(href="tu-mejor-version.html") TU MEJOR VERSIÓN
							li.asterisco
								p *
							li
								a(href="mujeres-que-inspiran.html") MUJERES QUE INSPIRAN
							li.asterisco
								p *
							li
								a(href="nuestra-casa.html") NUESTRA CASA
							li.asterisco
								p *
							li
								a(href="antonia.html") ANTONIA 
				.row
					ul
						li.rrss
							a(href="https://www.facebook.com/antoniaenelespejo",target="_blank")
								i.icon-facebook
						li.rrss
							a(href="https://twitter.com/antoenelespejo", target="_blank")
								i.icon-twitter
						li.rrss
							a(href="https://www.instagram.com/antoniaenelespejo/", target="_blank")
								i.icon-instagram
						li.rrss
							a(href="https://es.pinterest.com/antodelsolare/", target="_blank")
								i.icon-pinterest
	.copyright
		p
			| Powered by 
			a(href="https://www.mediaimpact.pe/", target="blank")
				| Media Impact