.login
	align-items center
	display flex
	flex-direction column
	flex-wrap no-wrap
	padding-top 32px
	height 100%
	form
		.wrapper-form
			align-items flex-star
			display flex
			flex-direction column
			flex-wrap no-wrap
			height 100%
			hgroup
				padding-top 61px
				padding-bottom 51px
				h1
					text-align center
					span
						@extends h1
						color color-celeste
			.form-group
				align-self center
				.wrapper
					display flex
					flex-direction row
					flex-wrap no-wrap
					justify-content center
					.icon-block
						background color-azul
						border-radius 20px 0px 0px 20px
						width 0px
						&.active
							width 50px
					input[type="text"],input[type="password"]
						height 50px
						width 231px
					.icon-key, .icon-user
						display block
						color color-blanco
						font-size 22.5px
						text-align center
						margin 13.5px auto 0
				button, p
					text-align center				
					width 281px
					
					
						