.jumbotron
	padding-top 0
	padding-bottom 40px
	margin-bottom 0
	background #ffffff
.list-group
	margin-bottom 0
.list-group-item
	background transparent
	padding 5px 15px
	border-left none
	border-right none
	font-family 'arial'
	font-size 10px
.list-group-item.lgia
	padding 0 15px
	a
		display block
		padding 5px
.panel-body
	padding 0 15px
.badge
	background none
	padding 0 7px
	font-size 10px
.badge-default
	font-weight normal
	border 1px solid #777777
	color #3a3a3a
.badge-primary
	font-weight normal
	border 1px solid #0072bc
	color #0072bc
.badge-success
	font-weight normal
	border 1px solid #5cb85c
	color #5cb85c
body
	font-size 14px
	background #333333
#secMenu
	position absolute
	width 100%
	z-index 100
.nav-top
	position absolute
	width 100%
	margin-top 15px
	.btn
		padding 3px 12px
	button
		font-size 12px
header > .jumbotron > #banner
	width 100%
	min-height 160px
	background-image url('../imagenes/CerroNubes.jpg')
	background-position center
	border-bottom-style solid
	border-bottom-width 5px
	border-bottom-color #333
	border-top-style solid
	border-top-width 5px
	border-top-color #333
footer
	margin 0
	font-family 'Arial'
	.footer1,.footer2
		width 100%
		margin 0
	.footer1
		background #0072bc
		border-top-style solid
		border-top-width 12px
		border-top-color #333333
		.container
			padding 15px 0
			p
				font-size 0.8em
				margin-bottom 3px
				color #cccccc
				.yell
					font-size 0.7em
					padding 0 5px
					a
						color #ffcb05
			.social-icon-wrapper
				position absolute
				margin-right 10px
				z-index 100
				margin-top -40px
				.social-icon
					opacity 0.5
					display inline-block
					vertical-align top
					&:hover
						opacity 1
	.footer2
		background #ffcb05
		.container
			padding 1.5px 0
			p
				padding 12px 5px
				font-size 0.8em
				margin-bottom 0
		.label
			color #0072bc
.row
	margin-left 0
	margin-right 0
.yell
	color #ffcb05
.skyblue
	color #0072bc
.label
	font-size 100%
#mainMenu > li > ul > li
	&:hover
		background #ffffff
	> ul > li
		&:hover
			background #ffffff
#contenidoPagina h1,#contenidoPagina h2,#contenidoPagina h3,#contenidoPagina legend
	color #0072bc
#contenidoPagina h1
	font-size 24px
	font-weight bold
#contenidoPagina h2
	font-size 20px
	font-weight bold
#contenidoPagina h3,#contenidoPagina legend
	font-size 16px
#contenidoPagina h2,#contenidoPagina h3
	margin-top 5px
	margin-bottom 5px
#contenidoPost img
	width 100%
#contenidoPagina > .contenido > .tabs > .bs-example > .tab-content > .tab-pane  > a > img
		max-width 118px
#contenidoPagina ul li
	color #777
.jumbotron p
	margin-bottom 10px
#pagina
	border-top-style solid
	border-top-width 6px
	border-top-color #0072bc
.contenido
	padding 10px
	border-bottom-style solid
	border-bottom-width 1px
	border-bottom-color #ececec
	img
		margin 5px 10px
	p
		font-size 14px
		color #777777
	legend
		margin-bottom 5px
		border none
	.imgsContenido,.files,.tabs
		border 1px solid #ececec
		border-radius 3px
		margin 30px 0
		padding 10px
	.tabs
		.itemTab
			background #dddddd
			a
				color #3a3a3a
				padding 5px 10px
		.tab-pane
			padding 5px 15px
			background #f7f7f7	
.ctImg
	text-align center
	img
		width 100%
		max-width 300px		
.titleEnlace
	padding 3px 20px
	margin-top 5px
	background #0072bc
	background-image url('../imagenes/bullet.png')
	background-repeat no-repeat
	background-position left
	span
		color #ffffff
.ct-formulario
	padding 10px
	border 1px solid #ececec
	border-radius 5px
.botonera
	text-align center
.tituloAzulNegrita
	color #0072bc
	font-weight bolder
	margin-bottom 10px
#breadcrumb
	text-transform uppercase
	font-size 10px
	font-weight bold
.noexp
	background-image url('../imagenes/mas.png')
	background-repeat no-repeat
	background-position-y center
.exp
	background-image url('../imagenes/menos.png')
	background-repeat no-repeat
	background-position-y center
.noexp.lgia,exp.lgia
	background none
.btnExsa
	border-radius 10px
	padding 5px 15px
	font-size 13px
	margin 25px 0
	background #e9d424
	color #786d14
	font-weight bolder
	z-index 10000
.itemNoticia,.itemSearch
	border-bottom-style solid
	border-bottom-color #ececec
	a
		text-decoration none
.infoPost
	color #7b7b7b
	margin-bottom 15px
	.fa
		margin-left 20px
		margin-right 5px
		font-size 12px
		font-weight bold
.contenidoPost,.contenidoSearch
	p,ul > li
		color #777777
		font-size 14px
		text-align justify
div.social-shares ul li
	float left
	list-style none
div.nsearch #search-text input[type="text"]
	color #0072bc
	background #d8e4f1
	border 1px solid #adc6e1
	padding 3px
	width 100%
	background-image url('../imagenes/find-17px.png')
	background-repeat no-repeat
	background-position right
div.nsearch
	width 150px
div.nsearch,#linkFacturacion
	display inline-block
	vertical-align top
footer .footer1 .container #ft1 
	p .yell
		padding 0
		font-size 1.1em