/***
	Autor 	: Carlos Espinoza
	Email 	: c.augusto.espinoza@gmail.com
***/

/***
	Descripcion: Prefijos
***/

/***
	Descripcion: Se definen los colores que se usaran durante
	todo el desarrollo del site
***/
azul 			= #4983d8
blanco 			= #fff
negro 			= #000
rojo 			= #DD0000
verde     		= #00ac64
verclaro        = #5e8800 
gris            = #888
grisoscuro      = #666
grisclaro       = #929292
celeste 		= #00AFCB
amarrillo       = #F7B800
morado 			= #a078b0
/***
	Descripcion: Se definen las fuentes que se usaran durante
	todo el desarrollo del site
***/

fuente_texto 		= "robotoregular"
fuente_titulo 		= "open_sansbold"
fuente_subtitulo 	= "open_sanslight"
fuente_link 		= ""
fuente_boton 		= ""
fuente_menu 		= ""

/***
	Descripcion: Se definen las funciones mixtas
	que emplearemos 
***/
html
	overflow auto
body
	font-size 16px

