<nav ng-controller="mainCrtl"><div class="container"><div class="inner-main"><a href="#/bienvenida"><i class="iconhome"></i>Principal</a><!--a(href="#/empresas")i.iconempresa
| Empresas--><a href="#/pacientes/dependientes"><i class="icondependiente"></i>Atender<br/>Pacientes</a><!--a(href="#/pacientes/independientes")i.iconmenuindependiente
| Pacientes
br
| Independientes--><!--a(href="#/atencion")i.iconmenuticket
| Ticket de
br
| Atención--><!--a(href="#/historial")i.iconmenuhistorial
| Historia
br
| Médica--><!--a(href="#/doctores")i.iconmenudoctores
| Doctores--><!--a(href="#/reportes")i.iconmenureportes
| Reportes
br
| Estadísticos			--></div></div></nav>