/*!*** llamamos a nuestras librerias nib ****/
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'nib/normalize'
/*!*** Css de la fuente ****/
@import '../../public/css/font.css'
/*!*** llamamos a nuestros demas estilos stylus****/
@import  '../home/general.styl'
@import  '../home/formulario.styl'
@import  '../login/login.styl'
@import  '../header/header.styl'
@import  '../propietario/lista.styl'
@import  '../propietario/detalle.styl'
@import  '../propietario/referido.styl'
@import  '../propietario/menu.styl'
@import  '../propietario/mainmenu.styl'
@import  '../user/detalle.styl'