/***
	Autor 	: Carlos Espinoza
	Email 	: c.augusto.espinoza@gmail.com
***/

/***
	Descripcion: Prefijos
***/
vendor-prefixes = o ms moz webkit

/***
	Descripcion: Se definen los colores que se usaran durante
	todo el desarrollo del site
***/
color-amarrilloclaro =  #fdface
color-blanco 		= #fff
color-blancohumo 	= #dedede
color-blancohumo2 	= #f6e8e8
color-negro 		= #000
color-naranja 		= #ff8842
color-grisclaro 	= #2d2926
color-gris 			= #6f737b
color-gris2 		= #ddd
color-gris3 		= #a9a9a9
color-grisoscuro 	= #494949
color-grislight 	= #768084
color-grislight2 	= #cbcbcb
color-grislight3 	= #f0f0f0
color-rojo 			= #f00
color-verde 		= #00ac64
color-verdeclaro 	= #84c335
color-verdeoscuro 	= #4e9818
color-verdeagua 	= #04b49d
color-azul 			= #0158a7
color-azuloscuro 	= #043058
color-celeste 		= #1fb1d6
color-amarillo 		= #ffbc3e
color-turqueza 		= #7dc6ae
color-turquezaclaro = #dcf1ea
color-turqueza2 	= #d8f7ed
color-turquezaclaro3 = #8fdfc4
color-turquezaclaro4 = #f4fffb
color-plomo 		= #eee
color-plomoclaro 	= #f3f2f2
color-plomooscuro  	= #81939e
color-plomooscuro2  = #dbdcde
color-plomo2        = #888d99
/***
	Descripcion: Se definen las fuentes que se usaran durante
	todo el desarrollo del site
***/

family_arail 				= "Arial"
family_robotothim 			= "robotothin"
family_robotothin_italic 	= "robotothin_italic"
family_colalightreg 		= "colaboratelightregular"
family_robotomedium 		= "robotomedium"
family_robotoregular 		= "robotoregular"
family_robotobold 			= "robotobold"
family_robotlight 			= "robotolight"
family_journal 				= "journal"
family_opensanlight 		= "open_sanslight"

/***
	Descripcion: Se definen las funciones mixtas
	que emplearemos 
***/

font-tipografia(tamano, peso, _color,_fuente)
	font-size tamano
	font-family _fuente, sans-serif;
	font-weight peso 
	color _color

body
	/***
	background-image url('../images/fondo/logueo.jpg')
	background-repeat no-repeat
	background-size cover
	background-position center center
	****/
	background #eeeeee
	font-size 16px
	> div
		height 100%
a, button
	font-tipografia(20px, normal, color-gris,family_robotoregular)
h1
	font-tipografia(26px, normal, color-gris,family_opensanlight)
p
	font-tipografia(14px, normal, color-grislight,family_robotlight)
h2,h3,h4
	font-tipografia(18px, normal, color-negro,family_opensanlight)
label
	font-tipografia(18px, normal, color-gris,family_robotobold)
span
	font-tipografia(12px, normal, color-gris,family_robotoregular)

/***
	Descripción: Estilos para un modal
***/
.outer-flex-container
	animation mostrarDialog 0.5s ease-in-out
	animation-fill-mode forwards
	align-content center
	align-items center
	background rgba(0,0,0,0.5)
	display flex
	height 100%
	justify-content center
	left 0
	padding-top 80px
	pointer-events auto
	position fixed
	top 0
	opacity 1
	overflow-y scroll
	transition opacity 400ms ease-in
	width 100%
	z-index 9999
	.inner-flex-container
		animation mostarContainer 1s ease-in-out 0.5s
		animation-fill-mode forwards
		position relative
		margin 0% auto
		padding 5px 20px 13px 20px
		border-radius 10px
		background color-grislight3
		opacity 0
		height 500px
		top 0%
		@media screen and (min-width 992px)
			height auto
		.currentTab
			background color-blanco
			border-radius 5px
			border 1px solid color-gris2
			margin 10px 0px
			padding 20px 20px
			width 250px
			@media screen and (min-width : 550px)
				width 450px
			@media screen and (min-width : 768px)
				width 600px
			@media screen and (min-width : 992px)
				width 600px
			@media screen and (min-width : 1200px)
				width 800px
		.ngdialog-close
			color color-grisoscuro
			cursor pointer
			font-size 20px
			line-height 25px
			position absolute
			right -12px
			text-align center
			top -10px
			text-decoration none
			width 24px
			&:hover
				color color-grisoscuro
			
@keyframes mostarContainer
	0% 
		opacity 0
		top 0% 
	100%
		opacity 1
		top 0 
@keyframes mostrarDialog
	0% 
		opacity 0 
	100%
		opacity 1
		