.header
	align-items center
	background color-blanco
	box-shadow 0px 10px 15px 0px rgba(151,151,151,0.75)
	display flex
	padding 12px 15px 10px 23px
	flex-direction row
	flex-wrap no-wrap
	justify-content space-between
	a
		text-decoration none
		.icon-menu
			color color-gris
			font-size 40px
	.logo
		width 180px
	.headerElement
		align-self center
		width 300px
		&.posicion2
			align-self center
			text-align center
		.inner-info
			align-items flex-star
			display flex
			flex-direction row
			flex-wrap no-wrap
			justify-content flex-end
			.infoElment
				align-self center
				&:first-child
					margin-right 30px
				ul
					list-style none
					margin 0
					padding 0
					li 
						display inline-block
						vertical-align middle
						&.block-user
							background color-turquezaclaro
							border-radius 10px
							padding 5px
						&:first-child
							margin-right 10px
				> ul
					padding-bottom 8px
				span
					font-size 14px
					&.turqueza
						color color-turqueza
					&.icon-corona
						color color-amarillo
						font-size 40px
					&.icon-user
						color color-turqueza
						font-size 30px
				.buttonInfo
					cursor pointer
					position relative
					padding-bottom 8px
					//&:hover
					//	.main-info
					//		display block
					.main-info
						background color-blanco
						//box-shadow 5px 10px 15px 5px rgba(151,151,151,0.75)
						box-shadow 9px 11px 17px -4px rgba(151,151,151,0.75)
						border-top 1px solid rgba(151,151,151,0.28)
						border-radius 10px
						display none
						padding 12px 0px 14px 0px
						position absolute
						top 50px
						left -55px
						width 199px
						z-index 663
						.activemain
							position absolute
							top -6px
							right 13px
						li
							display block
							padding 4px 12px 8px 16px
							&:first-child
								margin-right 0px
							&.separate
								border-bottom 1px solid color-plomo
								padding 0
								margin 8px 0
							&.active, &:hover
								background color-turqueza
								span
									color color-blanco
							a 
								span
									color color-grisclaro
									display inline-block
									font-size 12px
									vertical-align middle
									&:first-child
										margin-right 4px
									&.icon-user,&.icon-confi,&.icon-salir,&.icon-candado
										color color-plomooscuro
										font-size 24px
						
				
					

			
		
		