.detalleUser
	overflow-y scroll
	height 400px
	input[type="text"],input[type="password"],textarea
		border-color color-gris3
		border-radius 0
		width 100%
	.inner-elment
		label
			width 100px
	button
		font-size 18px
		padding 10px 40px
		&:hover
			background #449d44
	@media screen and (min-width : 768px)
		overflow-y hidden
		height auto