#banner > .jumbotron{
    background-position:center -210px;
    height:350px;
}
.breadcrumb{
	margin-bottom: 0;
}
.lista > li{
	color: #909090;
	font-size: 0.8em;
	margin-left: -25px;
}
.jumbotron h1{
	margin: 0;
	font-size: 40px;
	color: #1c953f;
}
#scroll_galeria{
	background: #f5f5f5;
	padding-top: 25px;
}
#scroll_contacto{
	background: #1c953f;
	padding: 15px 0;
}
.row{
	margin: 5px 0;
}
.title-contacto{
	margin-left: 100px;
}
.imgMapa{
	width: 100%;
	max-width: 800px;
}
.imgSobre{
	width: 100%;
	max-width: 280px;
}
#scroll_ficha{
	background: #f7f4f4;
	border: solid 1px #eeeeee;
}
@media (max-width: 480px) {
	.jumbotron h1{
		font-size: 25px;
	}
	#scroll_galeria{
		text-align: center;
	}
	#scroll_ficha > p,p, .jumbotron p{
		text-align: justify;
	}
	.proyecto-item > .jumbotron > .container > .panel > .panel-heading > h1{
		font-size: 30px;
	}
}