body{
    font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; 
    background-color:#FFFFFF;
}
#divLogin 
{
    width: 520px;
    height: 200px;
    background-color: #ffffff;
    border-color: #2A4F96;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px; 
}
#divLogin .header
{
    background-color: #2A4F96;
    color:#ffffff;
    font-weight: bold;
    height: auto;
    padding: 10px;
    border-radius: 7px 7px 0px 0px; 
}
#logo
{
    border: 2px solid #ffffff;
    background-color:#ffffff;
    margin: 10px;
    padding: 5px;
    width: 170px;
    float: left;
    border-radius: 5px;
}
#divLogin table
{
    padding:10px;
    float: right;
}
#divLogin table tr td
{
    font-size: 12px;
    color:#f6a800;
    font-weight:bold;
}
#divLogin .admButton {
    margin: 10px 0 0 0;
    border: 1px solid #0076B2;
    background: #2A4F96;
    font-size: 12px;
    padding: 2px 20px 2px 20px;
    color: #FFFFFF; 
    height: 30px;
    border-radius: 4px;
}
#divLogin .textbox {
    Width:180px;
    Height:30px;
    Font-Size:16px;
}
.msgErr{
    font-weight:normal;
    color:#F65D20;
}
.msgErr li{
    list-style-type: none;
    color:#F65D20;
}
