body
    font-size 14px
h1
    margin 0
h2
    color #1c953f
    font-size 20px
    font-weight bold
    &.white
        color #fff
    &.greenwater
        color #82df4e
h3
    color #1c953f
    font-size 14px
    font-weight bold
p,.jumbotron p
    font-size 12px
    color #909090
.green
    color #1c953f
    font-size 11px
    font-weight bold
    cursor pointer
.txt
    color #909090
    font-size 12px
.jumbotron
    padding-top 0
    padding-bottom 0
    margin-bottom 0
    background #fff
    .navbar
        margin-bottom 0
        margin-top 0
        background none
        border none
        .navbar-nav
            & > li
                & > a
                    &:hover
                        background #15702f
.jumbotron .navbar .navbar-nav > li > a,.jumbotron .navbar .navbar-brand
    padding 5px 10px
    color #28e15d
.navbar-brand
    height 36px
#menu
    position fixed
    width 100%
    z-index 100
    & > .jumbotron
        background transparent
        background-image url("images/fondo_barra_opciones.png")
        background-repeat no-repeat
        background-position center 0
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus
    background #15702f
    color #fff
#banner
    .jumbotron
        height 550px
        background-image url("../imagenes/banners/banner_home1.png")
        background-repeat no-repeat
        background-position center
        .row
            .col
                text-align center
                figure
                    img
                        margin-top 40px
#secproyectos
    .jumbotron
        .container
            background transparent
.oculto
    margin-top -150px
    overflow hidden
    padding-top 30px
    .opciones
        width 100%
        & > ul
            width 300%
            margin-left -20px
            & > li
                list-style none
                display inline-block
                vertical-align top
                margin 0 34px
                cursor pointer
                & > .normal
                    display block
                & > .encima
                    display none
                &.activo
                    transform scale(1.2)
                    > .normal
                        display none
                    > .encima
                        display block
.colResponsive2
    &.activo
        transform scale(1.1)
        > .normal
            display none
        > .encima
            display block
    & > .normal
        display block
    & > .encima
        display none
#secmejora
    margin-top 40px
    .jumbotron
        background #eee
        .mgTopMejora
        padding-top 70px
        ul
            & > li
                color #1c953f
                font-size 1.6em
                font-weight bolder
                margin-left -25px
                &.vi
                    font-size 1.4em
        p
            font-size .8em
            color #787878
        figure
            text-align center
            img#imgMejora
                width 100%
                max-width 466px
            img#imgVideo
                width 100%
                max-width 200px
#contacto
    .jumbotron
        .container
            .panel
                .panel-heading
                    h1
                    margin 0
                    font-size 40px
                    font-weight bolder
                    color #3c763d
                .panel-body
                    .row
                        figure
                            text-align center
.proyecto-item
    & > .jumbotron
        & > .container
            & > .panel
                & > .panel-heading
                    & > h1
                        font-size 40px
                        font-weight bolder
                        color #3c763d
#footer
    & > .jumbotron
        padding 30px 0 0 0
        background #15702f
        .primero
            text-align center
        .ultimmo
            text-align left
            padding-top 30px
        p
            margin-bottom 0
            padding 10px 0
#btnProyectosHome
    border-radius 30px
    color #15702f
    font-weight bolder
    padding 5px 15px
    margin-top 20px
.greenwater
    font-size 18px
.big
    font-size 14px
    font-weight bolder
.white
    color #fff
#imgTerrenos
    width 100%
.modal-header
    padding 0
    border none
    .close
        padding 3px 6px
        border-radius 50%
        opacity .9
        background #000
        color #fff
        cursor pointer
        margin -10px
        border 2px solid #fff
#bannerEstrella
    width 100%
    display none