#container{
	width: 450px;
	text-align: left;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0px;
	height: 400px;
	}		


/* form 1 */

	#form1{
	margin:1em 0;
	padding-top:10px;
	background-repeat: no-repeat;
	background-position: 0 0;
		}
	#form1 fieldset{
	margin: 0;
	padding: 0;
	border: none;
	float: left;
	display: inline;
	width: 222px;
	margin-left: 0px;
		}		
	#form1 legend{display:none;}	
	#form1 p{margin:.5em 0;}	
	#form1 label{display:block;}	
	#form1 input, #form1 textarea{
	width: 200px;
	border: 1px solid #ddd;
	background: #fff url(../images/form1/form_input.gif) repeat-x;
	padding: 3px;
		}		
	#form1 textarea{
		height:125px;
		overflow:auto;
		}					
	#form1 p.submit{
	clear:both;
	padding:0 25px 20px 25px;
	margin:0;
	text-align:right;
	background-repeat: no-repeat;
	background-position: 0 100%;
		}	
	#form1 button{
	width:150px;
	height:37px;
	line-height:37px;
	border:none;
	background:url(../images/form1/form_button.png) no-repeat 0 0;
	color:#fff;
	cursor:pointer;
	text-align:center;
		}				

/* // form 1 */
