.antonia
	padding-top 70px
	@media screen and (min-width:992px)
		padding-top 0
	.flickerplate
		height 312px
		@media screen and (min-width:460px)
			height 400px
		@media screen and (min-width:550px)
			height 500px
		@media screen and (min-width:992px)
			height 560px
		.dot-navigation
			.dot.active
				display none
		.arrow-navigation
			display none
	.flicker-example
		ul
			.banner1
				background url("../image/banner-antonia-movil.jpg")
				background-size cover
				background-repeat no-repeat
				@media screen and (min-width:768px)
					background url("../image/banner-antonia.jpg")
					background-size cover
			li
				&:first-child
					background-position 0
					@media screen and (min-width:768px)
						background-position -375px 0
					@media screen and (min-width:850px)
						background-position -300px 0
					@media screen and (min-width:1200px)
						background-position -50px 0
				.center
					display flex
					flex-flow row wrap
					justify-content flex-start
				.flick-title
					margin 0 0 0 20px !important
					@media screen and (min-width:992px)
						margin 0px 0px 0px 50px !important
				.flick-inner
					padding 0px !important
					@media screen and (min-width:768px)
						padding 10px !important
					hgroup
						h1
							font 18px hk_groteskbold
							color verde_oscuro
							@media screen and (min-width:992px)
								font 46px hk_groteskbold
						.separadorBanner
							width 90px
							border-bottom 2.5px solid verde_oscuro
							margin auto
							margin-top 27px
	.noticia
		padding 16px 25px
		@media screen and (min-width:992px)
			padding 0
			margin-top 37px
		.container
			@media screen and (min-width:992px)
				// width 1060px
				width 970px
			h1
				font 28px titulos
				color verde_oscuro
				padding-top 35px
				padding-bottom 25px
			.inner-noticias
				display flex
				flex-flow row wrap
				justify-content space-between
				padding-bottom 20px
				margin-top 20px
				&:first-child
					margin-top 0
				@media screen and (min-width:992px)
					display flex
					flex-flow row nowrap
					justify-content space-between
					padding-bottom 20px
					margin-top 20px
				.caja-noticia
					// width 678px
					width 100%
					overflow hidden
					@media screen and (min-width:992px)
						width 678px
					.inner-redessociales
						display flex
						flex-flow column wrap
						justify-content center
						margin-top 34px
						border-bottom 1px solid verde_oscuro
						padding-bottom 22px
						h2
							font 25px hk_grotesksemibold
							color verde_oscuro
							text-align center
							@media screen and (min-width:992px)
								font 32px hk_grotesksemibold
								color verde_oscuro
								text-align center
						.inner-mirarte
							display flex
							flex-flow row wrap
							justify-content center
							ul
								margin-top 18px
								li
									display inline-block
									margin-left 18px
									transition transform .8s ease-in-out
									&:hover
										transform rotate(360deg)
									&:first-child
										margin-left 0
									a
										i
											background verde_oscuro
											color blanco
											padding 10px
											border-radius 100%
											font-size 14px
					.inner-slider
						.owl-carousel
							.inner-owl
								.overflow-item
									p
										color verde_oscuro
										font 9px hk_groteskregular !important
										text-align center !important
									a
										color verde_oscuro
										font 20.5px hk_groteskregular
										&.owl-descripcion
											display block
											padding 5px 30px 30px 30px
											text-align center
										&:hover
											color dorado
							.owl-controls
								.owl-buttons
									.owl-prev
										background url("../image/arrow-left.png")
										height 20px
										position absolute
										top 45%
										left -1px
										width 11px
									.owl-next
										background url("../image/arrow-right.png")
										height 20px
										width 11px
										position absolute
										top 45%
										right 1px
					.videos
						margin-top 25px
						border-bottom 1px solid verde_oscuro
						padding-bottom 43px
						h1
							text-align left
						h4
							font 16px hk_groteskmedium
							text-align center
							color verde_oscuro
						p
							text-align center !important
							iframe
								width 100%
								@media screen and (min-width:992px)
									width 640px
									height 360px
						.todo-videos
							text-align center
							margin-top 30px
							@media screen and (min-width:992px)
								text-align center
								margin-top 45px
							a
								font 15px hk_groteskmedium
								color dorado
								border 1px solid dorado
								padding 8px 13px
								@media screen and (min-width:992px)
									font 17px hk_groteskmedium
									color dorado
									border 1px solid dorado
									padding 10px 15px
									transition 0.5s all ease
									&:hover
										background dorado
										color blanco
					.libros
						margin-top 25px
						h1
							text-align left
							font-size 22px
							font-family bodonixtregular
							padding-top 0
							padding-bottom 0
							@media screen and (min-width:992px)
								text-align left
								font-size 25px
								font-family bodonixtregular
								padding-top 0
								padding-bottom 0
					.bordertitulo
						width 50%
						border-bottom 1px solid verde_oscuro
						margin auto
						padding-top 15px
						@media screen and (min-width:992px)
							width 235px
							border-bottom 1px solid verde_oscuro
							margin auto
							padding-top 22px
					p
						margin-top 22px
						font-size 15px !important
						text-align justify
						@media screen and (min-width:992px)
							margin-top 22px
							font-size 17px !important
							text-align justify
					h1
						font-size 25px
						text-align center
						padding-top 0
						padding-bottom 0
						@media screen and (min-width:992px)
							font-size 40px
							text-align center
							padding-top 0
							padding-bottom 0
					.inner-noticia
						display flex
						flex-flow row no-wrap
						justify-content flex-start
						align-items stretch
						border-bottom 1px solid verde_oscuro
						padding-bottom 20px
						margin-top 20px
						position relative
						&:nth-child(4)
							border-bottom 0
						.row
							&:last-child
								padding-left 18px
						.inner-descripcion
							display flex
							flex-flow column wrap
							justify-content space-between
							.column
								p
									font 16.5px descripcion_post
									color verde_oscuro
								.fecha
									color verde_oscuro
									font 15px descripcion_post
								.inner-footer-descripcion
									display flex
									flex-flow row wrap
									justify-content space-between
									p
										display inline-block
									.share
										color verde_oscuro
										font 9px hk_groteskmedium
									ul
										display inline-flex
										li
											margin-left 18px
											a
												i
													font-size 14px
					.paginado
						text-align center
						ul
							li
								display inline-block
								a
									font 15px hk_groteskregular
									color verde_oscuro
									&:hover
										color dorado
				.asidebar
					width 100%
					margin-left 0
					@media screen and (min-width:992px)
						width 309px
						margin-left 45px
					.inner-antonia
						display flex
						flex-flow column wrap
						text-align center
						border 1px solid dorado
						padding 0 20px
						margin-top 20px
						&:nth-child(2)
							padding-bottom 25px
							margin-top 20px
						&:nth-child(3)
							margin-top 20px
						@media screen and (min-width:992px)
							display flex
							flex-flow column wrap
							text-align center
							border 1px solid dorado
							padding 0 8px
							margin-top 30px
						.tituloSide
							width 155px
							margin auto
						.row
							&:nth-child(3)
								// padding-top 17px
								padding 0
								padding-bottom 22px
							&:nth-child(4)
								padding-bottom 20px
								margin-top 15px
							h1
								color dorado
								font 16px bodonixtregular
								padding-bottom 13px
								padding-top 13px
								&::after
									content none
								&::before
									content none
								@media screen and (min-width:992px)
									font 24px bodonixtregular
									padding-bottom 18px
									padding-top 15px
							p
								color dorado
								font 13px hk_groteskregular
								display block
								margin-top 0
								padding-bottom 7px
								@media screen and (min-width:992px)
									display inline-block
									padding-bottom 0
							ul
								display inline-flex
								padding-bottom 10px
								@media screen and (min-width:992px)
									padding-bottom 0
								li
									margin-left 15px
									a
										i
											color dorado
											font-size 15px
							#formSusc2
								padding 0
								@media screen and (min-width:992px)
									padding 0 15px
							.boton
								margin-top 22px
								color blanco
								font 16.5px hk_grotesksemibold
								background dorado
								padding 10px 25px
							figure
								img
									margin-top 12px
							form
								button
									margin-top 27px
					.inner-auspiciadores
						h1
							&:before
								content " - "
							&:after
								content " - "
						.inner-logos
							display flex
							flex-flow row wrap
							justify-content space-around
							@media screen and (min-width:992px)
								display flex
								flex-flow row wrap
								justify-content space-around
								margin auto
								width 205px
							.row
								.separacion-logos
									margin-left 15px
					.publicidad
						border none
						padding 0
					.inner-tag
						border none
						.row
							padding 0
							a
								padding 6px 8px
								border 1px solid dorado
								font 9px tags
								color dorado
								margin-left 8px
								margin-top 5px
								transition 0.5s all ease
								&:hover
									color blanco
									background dorado
								
						.tags
							margin 0 10px
							padding 0 !important
							display flex
							flex-flow row wrap
							justify-content space-around
							@media screen and (min-width:992px)
								margin 0 10px
								padding 0 !important
								display flex
								flex-flow row wrap
								justify-content flex-start
							.nombreTag
								margin-top 15px
				.row
					a
						font 21px titulo_post
						color verde_oscuro
					p
						font 18.5px descripcion_post
						color verde_oscuro
					img
						position relative
					.categoria
						padding 12px 5px
						background rgba(24,58,36,0.8)
						color blanco
						position absolute
						top 0
						font 10px tags
	.instagram
		h4
			text-align center
			color verde_oscuro
			font 12px hk_groteskregular
			&::before
				content " - "
			&::after
				content " - "
		.inner-instagram
			display flex
			flex-flow row nowrap
			justify-content flex-start
			.box-insta
				width 20%
				position relative
				&:hover
					.hoverInstagram
						display none
						@media screen and (min-width:992px)
							display flex
				a
					figure
						img
							width 100%
				.hoverInstagram
					display none
					@media screen and (min-width:992px)
						display none
						flex-flow row wrap
						justify-content center
						align-items center
						background rgba(137,137,137,0.8)
						position absolute
						top 0
						left 0
						width 100%
						height 99%
					@media screen and (min-width:1200px)
						width 100%
						height 99%
					.row
						a
							background #F1F0EF
							color verde_oscuro
							padding 8px 39px
							font 15px hk_groteskmedium