div.videos
    .inner-breadcrumb
        .row
            a(href="index.html")
                | Inicio >
            a(href="antonia.html")
                | Antonia
            p 
                | Videos
    .inner-titulo
        .row
            h1
                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
            p
                | 28 Febrero, 2017
        iframe(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    section.noticia-version
        .container
            .inner-noticias
                .caja-videos
                    .inner-videos
                        .row
                            p
                                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
                            iframe.frameImpar(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        .row
                            p
                                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
                            iframe(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        .row
                            p
                                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
                            iframe.frameImpar(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        .row
                            p
                                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
                            iframe(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        .row
                            p
                                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
                            iframe.frameImpar(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        .row
                            p
                                | MASAJES FACIALES PARA LA MUJER CON POCO TIEMPO
                            iframe(src="https://player.vimeo.com/video/204049948?color=FFF1EA&title=0&byline=0&portrait=0" width="350" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                .row.asidebar
                    .inner-antonia
                        .row
                            figure
                                img(src="./resources/assets/image/antonia.png", alt="")
                        .row
                            h1
                                | Hola, soy Antonia
                            p
                                | Me encanta la idea de compartir experiencias con una comunidad de mujeres donde todas nos podamos sentir reflejadas.
                        .row
                            p
                                | Sígueme:
                            ul
                                li
                                    a(href="https://www.facebook.com/antoniaenelespejo",target="_blank")
                                        i.icon-facebook
                                li
                                    a(href="https://twitter.com/antoenelespejo", target="_blank")
                                        i.icon-twitter
                                li
                                    a(href="https://www.instagram.com/antoniaenelespejo/", target="_blank")
                                        i.icon-instagram
                                li
                                    a(href="https://es.pinterest.com/antodelsolare/", target="_blank")
                                        i.icon-pinterest
                        .row
                            a.boton(href="antonia.html") Conóceme
                    .inner-antonia
                        .row.tituloSide
                            h1
                                | Conversemos, se parte juntas
                        .row
                            form#formSusc2(ng-controller="subscribirseInternoCrtl")
                                .rowform.msje
                                    .alert.alert-danger
                                        h3
                                            | Su mensaje se ha enviado correctamente
                                .rowform
                                    input(type="text",name="nombre", id="nombre",ng-model="form.nombre",placeholder="Nombre")
                                .rowform
                                    input(type="email",name="correo", id="correo",ng-model="form.correo",placeholder="Correo")
                                .row
                                    button(ng-click="enviarDatos(form)") Enviar
                    .inner-antonia.inner-tag
                        .row
                            h1
                                | Tag
                        .row.tags
                            .nombreTag
                                a(href="javascript:void(0)")
                                    | TU MEJOR VERSIÓN
                            .nombreTag
                                a(href="javascript:void(0)")
                                    | TU MEJOR VERSIÓN
                            .nombreTag
                                a(href="javascript:void(0)")
                                    | TU MEJOR VERSIÓN
                            .nombreTag
                                a(href="javascript:void(0)")
                                    | NUESTRA CASA
                            .nombreTag
                                a(href="javascript:void(0)")
                                    | VIDEOS
                            .nombreTag
                                a(href="javascript:void(0)")
                                    | LIBROS
    section.instagram
        h4
            | @ANTONIAENELESPEJO I INSTAGRAM
        .inner-instagram
            .row.box-insta
                a(href="https://www.instagram.com/p/BSwHSgIAb6o/",target="_blank")
                    figure
                        img(src="./resources/assets/image/instagram/5.jpg", alt="")
                .hoverInstagram
                    .row
                        a(href="https://www.instagram.com/p/BSwHSgIAb6o/",target="_blank") INSTAGRAM
            .row.box-insta
                a(href="https://www.instagram.com/p/BSjVPg4gCv4/?taken-by=antoniaenelespejo", target="_blank")
                    figure
                        img(src="./resources/assets/image/instagram/6.jpg", alt="")
                .hoverInstagram
                    .row
                        a(href="https://www.instagram.com/p/BSjVPg4gCv4/?taken-by=antoniaenelespejo",target="_blank") INSTAGRAM
            .row.box-insta
                a(href="https://www.instagram.com/p/BSi47rbAU7P/?taken-by=antoniaenelespejo", target="_blank")
                    figure
                        img(src="./resources/assets/image/instagram/7.jpg", alt="")
                .hoverInstagram
                    .row
                        a(href="https://www.instagram.com/p/BSi47rbAU7P/?taken-by=antoniaenelespejo",target="_blank") INSTAGRAM
            .row.box-insta
                a(href="https://www.instagram.com/p/BSeDxkTA6Ug/?taken-by=antoniaenelespejo", target="_blank")
                    figure
                        img(src="./resources/assets/image/instagram/8.jpg", alt="")
                .hoverInstagram
                    .row
                        a(href="https://www.instagram.com/p/BSeDxkTA6Ug/?taken-by=antoniaenelespejo",target="_blank") INSTAGRAM
            .row.box-insta
                a(href="https://www.instagram.com/p/BSZ5YowgDo5/?taken-by=antoniaenelespejo", target="_blank")
                    figure
                        img(src="./resources/assets/image/instagram/9.jpg", alt="")
                .hoverInstagram
                    .row
                        a(href="https://www.instagram.com/p/BSZ5YowgDo5/?taken-by=antoniaenelespejo", target="_blank") INSTAGRAM